<header id="navigation" class="header">
  <ul class="nav nav-tabs container" role="tablist">
    <li><a href="#ax-carousel">Начало</a></li>
    <li><a href="#about">За нас</a></li>
    <li><a href="#calculator">Калкулатор</a></li>
    <li><a href="#contacts">Контакти</a></li>
  </ul>
</header>