<div class="container">
  <div class="row calculatorControls" ng-form="calculatorForm">
    <div class="col-md-2">
      <ax-select
        ng-model="insuranceData.vehicleType"
        items="insuranceData.vehicles">
        <button
          id="dLabel"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          {{ insuranceData.vehicleType || 'Вид МПС' }}
          <span class="caret"></span>
        </button>
      </ax-select>
    </div>
    <div class="col-md-2" ng-if="options">
      <ax-select
        ng-model="insuranceData.option"
        items="options">
        <button
          id="dLabel"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          {{ insuranceData.option || 'Избери опция' }}
          <span class="caret"></span>
        </button>
      </ax-select>
    </div>
    <div class="col-md-2">
      <ax-typeahead insurance-data="insuranceData"></ax-typeahead>
    </div>
    <div class="col-md-2">
      <input type="text" ng-model="insuranceData.state" name="state" />
    </div>
    <div class="col-md-2">
      <input type="number" ng-model="insuranceData.ownerAge" name="ownerAge" />
    </div>
    <div class="col-md-2">
      <input type="checkbox" ng-model="insuranceData.greenCard" name="greenCard" />
    </div>
    <button ng-click="getMatchesAndCalculatePrice()">Намери</button>
  </div>
  <div class="row insurance-list" ng-if="!_.isEmpty(matches)">
    <ul>
      <li ng-repeat="match in matches">
        <div class="col-md-2">{{match.company}}</div>
        <div class="col-md-2">{{match.price}}</div>
      </li>
    </ul>
  </div>
</div>
