<div id="ax-carousel" class="ax-carousel carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#ax-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#ax-carousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img alt="First slide [900x500]" src="images/insurance2.jpg" data-holder-rendered="true">
      <div class="carousel-caption">
        Image one
      </div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide [900x500]" src="images/img2.jpg" data-holder-rendered="true">
      <div class="carousel-caption">
        Image two
      </div>
    </div>
  </div>
</div>
