<div ng-form="newInsuranceForm">
  <h3>Създай нова застраховка</h3>
  <div class="input-group">
    <label for="vehicleType">Вид МПС:</label>
    <input type="text" 
      name="vehicleType"
      class="form-control" 
      ng-model="newInsurance.vehicleType" 
      required/>
    <span ng-show="newInsuranceForm.vehicleType.$error.required">This field is required!</span>
  </div>
  <div class="input-group">
    <label for="vehicleType">Компания:</label>
    <input type="text" 
      name="company"
      class="form-control" 
      ng-model="newInsurance.company" 
      required/>
    <span ng-show="newInsuranceForm.company.$error.required">This field is required!</span>
  </div>
  <div class="options-container">
    <div class="input-group" id="options-list">
      <label for="">Опций:</label>
      <button type="button" class="addOption" ng-click="addOption()">Добави опция</button>
    </div>
  </div>
  <button type="button" ng-disabled="!newInsuranceForm.$valid || !newInsuranceForm.optionsForm.$valid" ng-click="createInsurance()">create</button>
</div>