<div class="option-{{counter}}" ng-form="optionsForm">
  <button class="control-btn remove" ng-click="removeOption(counter)" type="button">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>

  <div ng-repeat="option in options">
    <div class="input-group">
      <label>Име:</label>
      <input type="text" required class="form-control" name="option{{$index}}" ng-model="option.name" />
      <span ng-show="optionsForm.option{{$index}}.$error.required">This field is required!</span>
    </div>
    <div class="input-group" ng-repeat="price in option.prices">
      <label>{{price.label}}</label>
      <input type="number" required class="form-control" name="price{{$parent.$index}}{{$index}}" ng-model="price.price">
      <span ng-show="optionsForm.price{{$parent.$index}}{{$index}}.$error.required">This field is required!</span>
    </div>
  </div>
</div>