<div class="ax-select" ng-class="{open: isVisible}">
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li ng-repeat="item in items"
      ng-click="selectItem(item)">{{ item }}</li>
  </ul>
</div>
