<div class="ax-select" ng-class="{open: showPlacesList}">
  <input type="text"
    name="city"
    ng-model="insuranceData.city"
    ng-keyup="getPlaces(insuranceData.city)"
    id="city"/>

  <ul class="dropdown-menu"
    aria-labelledby="dLabel">
    <li ng-repeat="place in insuranceData.places"
      ng-click="selectPlace(place)">{{ place.description}}</li>
  </ul>
</div>
