@import 'variables';

.admin {
  padding-top: 41px;

  .column-list > li {
    border: 1px solid #ddd ;
    margin-top: 10px;
    padding: 10px 5px; 

    &:hover {
      background: #F7F7F7;

      .control-btn {
        visibility: visible;
      }
    }

    .control-btn {
      background: transparent;
      border: 2px solid #ddd;
      padding: 4px 7px;
      border-radius: 50%;
      outline: none;
      margin-bottom: 5px;
      visibility: hidden;

      &.remove:hover{
        color: @disapprove-color;
        border-color: @disapprove-color;
      }

      &.edit:hover{
        color: @approve-color;
        border-color: @approve-color;
      }
    }
  }

  .table-list .table-list-item {
    width: 133px;
  }

  .price-grid {
    display: inline-block;
    width: 20%;
    padding-left: 10px;

    &:first-of-type {
      padding-left: 0;
    }
  }

  .title {
    display: block;
  }
}