/* Space out content a bit */
body {
  padding-top: 42px;
  padding: 0;
  position: relative;
  font-family: 'Cuprum', sans-serif;
}

.content-box {
  padding-top: 120px;
}

.left-offset {
  padding-left: 120px;
}

.ax-select {
  display: inline-block;
  min-width: 100px;
  position: relative;

  button {
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  ul {
    width: 100%;
    min-width: 0;
    margin: 0;
    border-radius: 0;
    border-top: none;
    padding: 0 10px;

    li {
      cursor: pointer;
    }
  }
}

.map-wrapper {
  #map {
    height:595px;
    width:600px;
  }
  .infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  h2 {
    margin-bottom:0;
    margin-top: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}