.header {
  box-shadow: 0px 1px 5px 0px #BDB7B7;
  position: fixed;
  width: 100%;
  z-index: 9;
  background: #fff;

  ul {
    background: #fff;
    border: none;

    li{
      a{
        color: #4E4e4e;
        border-radius: 0;
      }

      &.active {
        font-weight: bold;

        a, a:hover{
          background: #ddd;
        }
      }
    }
  }
}
