<section class="admin container preview-section">
  <h3>Всички застраховки: </h3>
  <ul class="column-list">
    <li class="row" ng-repeat="insurance in insurances">

      <div ng-show="editableInsurance._id !== insurance._id">
        <div class="col-lg-2">
          <label class="title">Вид МПС: </label>
          {{ insurance.vehicleType }}
        </div>
        <div class="col-lg-2">
          <label class="title">Компания: </label>
          {{ insurance.company }}
        </div>
        <div class="col-lg-7">
          <ul>
            <li ng-repeat="option in insurance.options">
              <span class="col-lg-3">
              <label class="title" ng-if="$index === 0">Опции: </label>
              {{ option.name }}
              </span>
              <div class="col-lg-9" >
                <ul>
                  <li class="price-grid" ng-repeat="price in option.prices">
                    <label class="title" ng-if="$parent.$index === 0">{{ price.label }}</label>
                    <div>{{ price.price }}</div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-1">
          <button class="control-btn remove" 
            ng-click="removeInsurance(insurance._id)" 
            type="button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button class="control-btn edit" 
            ng-click="makeEditable(insurance)" 
            type="button">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div ng-form="editInsuranceForm" ng-if="editableInsurance._id === insurance._id">
        <div class="col-lg-2">
          <div class="input-group">
            <label class="title">Вид МПС</label>
            <input type="text" 
              required 
              class="form-control" 
              name="vehicleType"
              ng-model="editableInsurance.vehicleType" />
              <span ng-show="editInsuranceForm.vehicleType.$error.required">This field is required!</span>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="input-group">
            <label class="title">Компания</label>
            <input type="text" 
              required 
              class="form-control" 
              name="company"
              ng-model="editableInsurance.company" />
              <span ng-show="editInsuranceForm.company.$error.required">This field is required!</span>
          </div>
        </div>
        <div class="col-lg-9">
          <ul class="table-list input-group">
            <li class="pull-left" ng-repeat="option in editableInsurance.options">
              <div class="col-lg-2">
                <label ng-if="$index === 0" class="title">Опции</label>
                <input required 
                  type="text" 
                  class="form-control" 
                  name="option{{$index}}"
                  ng-model="editableInsurance.options[$index].name" />
                  <span ng-show="editInsuranceForm.option{{$index}}.$error.required">This field is required!</span>
              </div>
              <ul class="col-lg-10">
                <li class="pull-left table-list-item" ng-repeat="price in option.prices">
                  <div class="input-group">
                    <label ng-if="$parent.$index === 0"  class="title">{{ price.label }}</label>
                  </div>
                  <div class="input-group">
                    <input type="number" 
                      name="price{{$parent.$index}}{{$index}}" 
                      class="form-control" 
                      ng-model="price.price" 
                      required/>
                    <span ng-show="editInsuranceForm.price{{$parent.$index}}{{$index}}.$error.required">This field is required!</span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-lg-1" >
          <ul class="table-list">
            <li class="pull-left">
              <button class="control-btn remove" 
                ng-click="makeEditable(null)" 
                type="button">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              <button class="control-btn edit" 
                ng-click="editInsurance(editableInsurance)" 
                ng-disabled="!isInsuranceChanged(insurance) && editInsuranceForm.$invalid"
                type="button">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>

    </li>
  </ul>
</section>
<section class="admin container create-section">
  <ax-create-insurance></ax-create-insurance>
</section>