<section>
  <ax-carousel></ax-carousel>
</section>
<section class="container content-box"
  id="about"
  ng-include="'views/partials/about-me.html'"></section>
<section class="container content-box"
  id="calculator">
  <ax-calculator></ax-calculator>
</section>
<section class="container content-box"
  id="contacts">
  <ax-map></ax-map>
</section>
